@inject CategoryContainer categoryContainer
@inject VariableStorage variableStorage
@inject Addresses addresses

<div class="searchbox">
    <div class="search-string-grid">
        <i class="bi bi-search search-string-icon"></i>
        <InputText @ref="SearchText" class="search-textbox search-string-text" placeholder="Search" @bind-Value="searchText" />
        <button class="search-string-text-button" @onclick="ClearSearchString"><i class="bi bi-x-lg"></i></button>
    </div>
    <div class="search-category-grid">
        <i class="bi bi-boxes search-category-icon"></i>
        <select class="search-category-dropdown" @bind=@categoryId>
            <option ref="SearchCategory" value="" disabled selected hidden>Category</option>
            @foreach (Category item in categoryContainer.AllCategories)
            {
                if (item.HasChildren || item.ParentId == null)
                {
                    <option style="font-weight:800;" value=@item.Id.ToString()>@item.Name</option>
                }
                else
                {
                    <option style="font-weight:400;" value=@item.Id.ToString()>@item.Name</option>
                }
            }
        </select>
        <button class="search-category-button" @onclick="ClearCategory"><i class="bi bi-x-lg"></i></button>
    </div>
    <div class="search-location-grid">
        <i class="bi bi-geo-alt search-location-icon"></i>
        <select @ref="SearchLocation" class="search-location-dropdown" @bind=@locationId>
            <option value="" disabled selected hidden>Location</option>
            @foreach (AddressCountry country in addresses.AllCountriesStatesCities)
            {
                <option style="font-weight:800;" value=@country.Id.ToString()>@country.Name</option>
                @foreach (AddressState state in country.AddressStates)
                {
                    <option style="font-weight:600;font-style:italic" value=@state.Id.ToString()>@state.Name</option>
                    @foreach (AddressCity city in state.AddressCities)
                    {
                        <option style="font-weight:600;" value=@city.Id.ToString()>@city.Name</option>
                    }
                }
            }
        </select>
        <button class="search-location-button" @onclick="ClearLocation"><i class="bi bi-x-lg"></i></button>
    </div>
    <div class="search-date-grid">
        <i class="bi bi-calendar3 search-date-icon"></i>
        <RadzenDatePicker class="search-date-input" TValue="DateTime?" @bind-Value=@selectedDate Placeholder="Date" ShowButton=false
                          Max="DateTime.Now" ShowTime=false DateFormat=@dateFormat />
        <button class="search-date-button" @onclick="ClearDate"><i class="bi bi-x-lg"></i></button>
    </div>
    <div class="search-find">
        <Button Class="search-find-button" @onclick="Search">Find</Button>
    </div>

</div>

@code {
    [Parameter]
    public EventCallback<Dictionary<string, string>> OnSearch
    {
        get; set;
    }

    InputText SearchText;
    ElementReference SearchCategory;
    ElementReference SearchLocation;

    string? searchText { get; set; } = null;
    string categoryId { get; set; } = "";
    string locationId { get; set; } = "";
    DateTime? selectedDate { get; set; } = null;
    string dateFormat { get; set; } = "dd/MM/yyyy";

    protected override async Task OnInitializedAsync()
    {
        dateFormat = variableStorage.Culture.DateTimeFormat.ShortDatePattern;
    }

    private void ClearSearchString()
    {
        searchText = null;
    }

    private void ClearCategory()
    {
        categoryId = "";
    }

    private void ClearLocation()
    {
        locationId = "";
    }

    private void ClearDate()
    {
        selectedDate = null;
    }

    private async Task Search()
    {
        Dictionary<string, string> parameters = new Dictionary<string, string>();

        if (SearchText.Value != null && SearchText.Value.Trim() != "")
        {
            parameters.Add("searchText", SearchText.Value);
        }
        if (categoryId.Trim() != "")
        {
            parameters.Add("category", categoryId);
        }
        if (locationId.Trim() != "")
        {
            parameters.Add("location", locationId);
        }
        if (selectedDate != null)
        {
            parameters.Add("date", ((DateTime) selectedDate).ToShortDateString());
        }

        await OnSearch.InvokeAsync(parameters);
    }
}

<style>

        .searchbox {
            width: 100%;
            font-size: var(--searchbox-font-size);
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr 6em;
            grid-template-areas: "search-string search-button";
            height: 100%;
            align-content: flex-start;
            color: var(--searchbox-text);
            gap: 5px;
            justify-content: start;
            align-items: center;
            padding: 0px 10px;
        }

        .search-category-grid {
            display: none;
        }

        .search-location-grid {
            display: none;
        }

        .search-date-grid {
            display: none;
        }

        .search-find {
            grid-area: search-button;
            display: flex;
            justify-content: end;
            width: 6em;
            height: 4em;
            color: var(--nearent-green);
            border-color: var(--nearent-green);
        }


    /* Small devices (portrait tablets and large phones, 600px and up) */
    @@media (min-width: 600px) {
        .searchbox {
            font-size: var(--searchbox-font-size);
            display: grid;
            grid-template-columns: 1fr 1fr auto;
            grid-template-areas:
                "search-string search-string search-button"
                "search-category search-category search-button"
                "search-area search-date search-button";
            width: 580px;
            height: 100%;
            align-content: flex-start;
            color: var(--searchbox-text);
            gap: 5px;
        }

        .search-category-grid {
            grid-area: search-category;
            display: grid;
            grid-template-columns: 25px auto 25px 1px;
            width: 100%;
            height: 3em;
            border-width: 1px;
            border-style: solid;
            border-color: var(--search-box-border);
            border-radius: 15px;
        }

        .search-category-icon {
            grid-column: 1/2;
            align-self: center;
            margin-left: 10px;
        }

        .search-category-dropdown {
            grid-column: 2/3;
            display: flex;
            flex-wrap: wrap;
            align-self: center;
            width: 100%;
            height: 80%;
            border-style: none;
        }

            .search-category-dropdown:focus-visible {
                outline: none;
            }

        .search-category-button {
            grid-column: 3/4;
            height: 2em;
            width: 2em;
            align-self: center;
            border-style: none;
            background: transparent;
        }

        .search-location-grid {
            grid-area: search-area;
            display: grid;
            grid-template-columns: 25px auto 25px 1px;
            width: 100%;
            height: 3em;
            border-width: 1px;
            border-style: solid;
            border-color: var(--search-box-border);
            border-radius: 15px;
        }

        .search-location-icon {
            grid-column: 1/2;
            align-self: center;
            margin-left: 10px;
        }

        .search-location-dropdown {
            grid-column: 2/3;
            display: flex;
            flex-wrap: wrap;
            align-self: center;
            width: 100%;
            height: 80%;
            border-style: none;
        }

            .search-location-dropdown:focus-visible {
                outline: none;
            }

        .search-location-button {
            grid-column: 3/4;
            height: 2em;
            width: 2em;
            align-self: center;
            border-style: none;
            background: transparent;
        }

        .search-date-grid {
            grid-area: search-date;
            display: grid;
            grid-template-columns: 25px auto 25px 1px;
            width: 100%;
            height: 3em;
            border-width: 1px;
            border-style: solid;
            border-color: var(--search-box-border);
            border-radius: 15px;
        }

        .search-date-icon {
            grid-column: 1/2;
            align-self: center;
            margin-left: 10px;
        }

        .search-date-input {
            grid-column: 2/3;
            display: flex;
            align-self: center;
            width: 100%;
        }

        .search-date-dropdown:focus-visible {
            outline: none;
        }

        .rz-calendar .rz-inputtext {
            border-style: none;
            font-size: var(--searchbox-button-font-size);
            margin-bottom: 2px;
        }


        .search-date-button {
            grid-column: 3/4;
            height: 2em;
            width: 2em;
            align-self: center;
            border-style: none;
            background: transparent;
        }
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @@media only screen and (min-width: 768px) {
        .searchbox {
            grid-template-columns: 1fr 1fr auto;
            grid-template-areas:
                "search-string search-string search-button"
                "search-category search-category search-button"
                "search-area search-date search-button";
            width: 748px;
        }
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @@media only screen and (min-width: 992px) {
        .searchbox {
            grid-template-columns: 1fr 1fr 1fr 1fr auto;
            grid-template-areas:
                "search-string search-string search-string search-string search-button"
                "search-category search-category search-area search-date search-button";
            width: 972px;
        }
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @@media only screen and (min-width: 1200px) {
        .searchbox {
            width: 1180px;
        }
    }

    /* Extra large devices (large laptops and desktops, 1400px and up) */
    @@media only screen and (min-width: 1400px) {
        .searchbox {
            width: 1380px;
        }
    }

    /* All media sizes */


    .search-string-grid {
        grid-area: search-string;
        display: grid;
        grid-template-columns: 25px auto 1px 1px;
        width: 100%;
        height: 3em;
        border-width: 1px;
        border-style: solid;
        border-color: var(--search-box-border);
        border-radius: 15px;
    }

    .search-string-icon {
        grid-column: 1/2;
        align-self: center;
        margin-left: 10px;
    }

    .search-string-text {
        grid-column: 2/3;
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        border-style: none;
        width: 100%;
        height: 80%;
    }

        .search-string-text:focus-visible {
            outline: none;
        }

    .search-string-text-button {
        grid-column: 3/4;
        position: relative;
        left: -30px;
        height: 2em;
        width: 2em;
        align-self: center;
        border-style: none;
        background: transparent;
    }

 
    /*
            .search-location-seperator {
                grid-column: 4/5;
                height: 80%;
                align-self: center;
            } */
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @@media only screen and (min-width: 600px) {
        .search-find {
            grid-area: search-button;
            display: flex;
            justify-content: end;
            width: 6em;
            height: 6em;
            color: var(--nearent-green);
            border-color: var(--nearent-green);
        }
    }

    .search-find-button {
        background-color: var(--button-background);
        color: var(--search-button-text);
        font-size: var(--searchbox-button-font-size);
        border-style: solid;
        border-width: 1px;
        border-color: var(--search-button-border);
        box-shadow: 2px 1px 5px lightgray;
        margin-right: 5px;
        width: 100%;
        margin: 10px;
        border-radius: 10px;
    }

    .rz-inputtext:focus {
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
    }

    .rz-inputtext:hover {
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
    }

    .vx {
        height: 50%;
    }
</style>
